
.card-header{
    background-color: #F9CF00
}

.shadowed
{
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

.modal-header{
    background-color: #F19F4E;
}

#addEntry{
    z-index: 999;
    position: fixed;
    right: 0;
    background-color: #F19F4E;
    bottom: 0;
    margin: 32px;

}

#newEntry{
    width: 75%;
    border-radius: 4px;
}
