body{
  background-color: #F9EAE1;
}
nav{
  background-color: #6C0E23;
  color: white;

}
div{
  text-align: center;
}
nav a {
  color: black;
}
nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  list-style: none;
  float: right;
}

nav ul li{
  display: inline;
  padding: 5px;
}

footer{
  background-color: #44403e;
  float: left;
  position: relative;
  width: 100%;
  padding: 0.5em;
  bottom: 0;
  text-align: center;
  color: white;
}
.card .card-img-top {
  height: 300px;
  width: 225px;
}
