
div nav{
  background-color: #66B9BF;
}
div{
  background-color: lightgray;
  border: 1px gray solid;
  text-align: center;
}



nav a {
  color: black;
}
nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li{
  display: inline;
  padding: 5px;
}

footer{
  background-color: #66B9BF;
  float: left;
  position: absolute;
  width: 100%;
  padding: 0.5em;
  bottom: 0;
  text-align: center;
}
.card .card-img-top {
  height: 300px;
  width: 225px;
}
